body {
  background-image: linear-gradient(darkblue, lightblue);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
#main {
  font-family: Arial, Helvetica, sans-serif;
  height: 550px;
  width: 420px;
  border-radius: 5px;
  background-color: #fff;
  /* border: 2px solid black; */
  /* overflow:hidden; */
  /* background: transparent; */
}
.head {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}
.head h1 {
  font-size: 40px;
}
.head button {
  height: 45px;
  width: 85px;
  font-size: 19px;
  outline: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(215, 253, 253);
}
.head button:hover {
  background-color: lightblue;
}
div > div {
  padding-left: 43px;
}
.align {
  height: 40px;
  width: 260px;
  outline: none;
  border: 1px solid;
  border-radius: 8px;
}
.align::placeholder {
  padding: 5px;
  font-size: 20px;
}
.input input {
  padding: 5px;
  font-size: 20px;
}
.add {
  height: 50px;
  width: 65px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: rgba(160, 57, 160, 0.908);
  color: #fff;
}
.add:hover {
  background-color: purple;
}
#ul {
  position: relative;
  height: 360px;
  overflow-y: scroll;
}
#ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 40px;
  width: 320px;
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
  background-color: lightgray;
  justify-content: space-between;
}

.delete {
  height: 40px;
  width: 55px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}
.delete:hover {
  color: #fff;
  background-color: red;
}
.edit{
  height: 40px;
  width: 55px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(189, 58, 189);
}
.edit:hover{
  color: #fff;
  background-color: blueviolet;
}